.numberContainer{
    width:74.5%;
    height:50%;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    margin-top: 3.1%;
    position: relative;
    z-index: 1;
}
.NumberButton{
    width:33%;
    height: 10%;
    background: #DA7635;
    border-radius: 10px;
    margin-bottom: 0.5%;
    padding-top: 1%;
    padding-bottom: 1%;
}